body {
    margin: 0;
  }
  .container {
    width: 100%;
    margin: 50px 0;
    text-align: center;
  }
  p {
    font-size: 20px;
    font-weight: bold;
  }
  .subContainer {
    display: flex;
    justify-content: space-evenly;
	  align-items: flex-start; 
  }
  .item {
    /* display: inline-block; */
    /* vertical-align: top; */
    /* margin: 50px 50px; */
    margin: 0;
    align-self: flex-start;
  }
  
  .datatable {
    overflow-y: scroll;
    /* height: 200px; */
    min-height:30px; 
    max-height:350px;
    /* width: max-content; */
    width: auto;
    border: 1px solid #333;
  }
  .data th {
    /* border: solid 1px; */
    padding: 10px;
    height: 35px;
    width: auto;
  }
  .data td {
    padding: 10px;
    /* width: auto; */
  }

  .highlight {
    background: rgb(230, 230, 230);
  }
  .data tr:hover {
    cursor: pointer;
  }
  table.data {
    /* border: solid 1px; */
    border-collapse: collapse;
    /* width: 700px; */
    width: auto;
    border-spacing: 0ch;
  }
  .column1 {
    /* width: 20%; */
    /* width: auto; */
    width: 100px;
    border-right: solid 0.5px #333;
  }
  .column2 {
    /* width: 80%; */
    width: 400px;
    word-break: break-all;
    border-right: solid 0.5px #333;
  }
  .fixed {
    position: sticky;
    top: 0;
    color: #fff;
    background: #333;
  }
  
  /* 
  table {
    margin-left: auto;
    margin-right: auto;
  } */
  label {
    display: inline-block;
    white-space: nowrap;
  }
  .inputdev {
    width: 150px;
  }
  input {
    width: 300px;
    font-size: 20px;
    padding: 0px;
    margin-bottom: 15px;
  }
  button {
    width: 100px;
    height: 40px;
    margin: auto 15px auto 0;
  }
  .register {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
	  align-items: flex-start; 
  }
  span {
    font-size: 14px;
    color: red;
    width: 90%;
    display: block;
  }
  .hyphen {
    width: 30px;
  }
  .form th {
    display: block;
    text-align: left;
    margin: 0px;
  }
  
  .numberInput {
    width: 100px;
  }
  .errMsg {
    display: flex;
    vertical-align: bottom;
    text-align: left;
  }